<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление пользователей</title>
    <div th:replace="~{./fragments/header :: header}"></div>
</head>
<body>
<div th:replace="~{./fragments/navbar :: navbar}"></div>
<div class="container">
    <hr/>
    <h3>Add New User</h3>
    <hr/>
    <form th:action="@{/users/save}" th:object="${user}" method="POST">
        <input type="text" th:field="*{username}" class="form-control col-4 mb-4"
               placeholder="Enter username"/>
        <input type="text" th:field="*{email}" class="form-control col-4 mb-4"
               placeholder="Enter email"/>
        <input type="text" th:field="*{password}" class="form-control col-4 mb-4"
               placeholder="Enter password"/>
        <input type="hidden" th:field="*{enabled}" class="form-control col-4 mb-4"
               placeholder="Enter enabled"/>
        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <hr/>
    <a th:href="@{/users}">Back to list</a>
</div>
<div th:replace="~{./fragments/footer :: footer}"></div>
</body>
</html>

