<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} + ' | AuthApp'">AuthApp</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="container">
        <h1>AuthApp</h1>
    </div>
</header>

<main class="container" th:fragment="main(content)">
    <div th:replace="${content}"></div>
</main>

<footer th:fragment="footer">
    <div class="container">
        <p>© <span th:text="${#temporals.year(#temporals.createNow())}">2025</span> AuthApp</p>
    </div>

</footer>
<script th:src="@{/js/common.js}"></script>
</body>
</html>